* {
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    margin: 0px;
    padding: 0px;
}

#content {
    display: flex;
    flex-direction: column;
}

#message-display {
    margin: 2%;
    padding: 2%;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;

    background-color: darkgrey;
    border-radius: 16px;
}

#gameboard-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 0.5rem;
}

[id^='board-display-'] {
    max-width: 400px;
    max-height: 400px;
    gap: 0.5rem;
}

[class^='gameboard-item'] {
    padding: 0.2rem;
    width: 2rem;
    height: 2rem;

    font-weight: bolder;
    font-size: medium;
}

.ship-hit {
    background-color: red;
    color: white;
}

#action-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 2vw 2vh;

    align-items: center;
}

#auto-place-button, #shoot-all-button {
    width: fit-content;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.has-ship {
    border: blue 2px solid;
}